body {
  font-family: Times, "Times New Roman", Georgia, serif;
  width: 60%;
  margin: auto;
  padding: 1rem;
  line-height: 1.4;
}

code {
  font-family: "Lucida Console", Courier, monospace;
  background-color: black;
  color: white;
  font-size: 0.8rem;
}

div.separator {
  border-top: 1px solid #eaeaea;
  margin: 1rem 0;
}

a {
  text-decoration: none;
  color: #2f2823;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

.tag {
  background-color: #2f2823;
  color: white;
  font-size: 0.6rem;
  padding: 2px;
  display: inline-block;
  margin-top: 2px;
}

blockquote, q {
  font-style: italic;
}

p {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

em {
  font-style: italic;
}

h1, h2 {
  font-weight: bold;
  font-size: 1.2rem;
  padding: .2rem 0;
}

h2 {
  font-style: italic;
  font-size: 1.1rem;
}

h3 {
  font-style: italic;
  font-size: 1rem;
  padding: .2rem 0;
}

article {
  img {
    width: 100%;
  }
}