body {
  font-family: Times, "Times New Roman", Georgia, serif;
  width: 60%;
  margin: auto;
  padding: 1rem;

  main.blog {
    h1 {
      font-size: 1.2rem;
      margin: 0;
    }
  }

  article {
    line-height: 1.4;
  }
}
