header {
  border-bottom: 1px solid #2f2823;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  nav {
    display: flex;
    gap: .8rem;

    a {
      &:first-child {
        margin-right: auto;
      }
    }

    a.current {
      text-decoration: underline;
      font-style: italic;
    }
  }
}
